##############################################
# BUILD
##############################################
bin/
obj/
publish/
Debug/
Release/
out/

##############################################
# VISUAL STUDIO
##############################################
.vs/
*.user
*.suo
*.cache
*.dbmdl

##############################################
# NUGET
##############################################
packages/
*.nupkg
.nuget/

##############################################
# LOGS / TEMP
##############################################
*.log
logs/
temp/
*.tmp
*.temp

##############################################
# OS / EDITOR
##############################################
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/

##############################################
# DATABASE FILES
##############################################
*.mdf
*.ldf
*.bak

##############################################
# DO NOT IGNORE CONFIG FILES
##############################################
!App.config
!*/App.config
!appsettings.json
!*/appsettings.json
